{% schema %}
{
"name": "hair-ingredients",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<main id="content">
    <div class="main-container">
        <!-- Banner start Here -->
        <section class="banner-sec pt-0 pb-4 pb-md-5 pt-md-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 banner-text-col"> <img src="{{ 'hair_ingredient_banner-left.png' | asset_url }}" class="w-100" /> </div>
                    <div class="col-md-6 banner-img-side pb-4 pb-md-0">
                        <!-- <h2 class="text-center d-md-none d-block px-md-5 mb-md-4 mb-4"><span>1,00,000+ users trust </span><br /><span> Bare Anatomy for their </span><br /><span> unique hair needs</span> </h2> -->
                        <div class="d-flex d-md-none justify-content-between mob-tab-alt">
                            <div class="text-center hel f-14"><a href="/pages/hair-ingredients">Your Hair Food</a></div>
                            <div class="text-center hel f-14"><a href="/pages/skin-ingredients">Your Skin Food</a></div>
                        </div>
                        <h2 class="mb-md-4 mb-3">All About Our<br>Haircare Ingredients</h2>
                        <p class="mb-md-3 mb-2 banner-sub-h"> We, at Bare Anatomy, believe that transparency (being bare) is what helps us build trust among customers. Hence, it is essential for you to know what your customized haircare products are made of! </p>
                        <p class="mb-md-3 mb-2 common"> Our haircare ingredients are <b>clean</b> and <b>EWG safe</b> </p>
                        <p class="pt-md-4 pt-3 text-center text-md-left "><a class="button-style1" href="#"><strong>
                                    View The Complete Ingredients Journal</strong></a></p>
                        <p class="mt-5 d-none d-md-block pt-3"> <a href="#"><i class="fa f-14 mr-2 color-blue fa-circle"></i></a> <a href="/pages/skin-ingredients"><i class="fa f-14 color-blue fa-circle-o"></i></a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Ends Here -->
        <section class="sec-tags">
            <div class="sec-tags-lines"></div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12 sec-tags-cover ">
                        <marquee width="100%" direction="left">
                            <div class="tags-scroll1 content1 d-flex ">
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Free of harmful chemicals</p></div>
                                <div><p>-</p></div>
                                <div><p>Freshly made </p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>
                                <div><p>Clean beauty</p></div>
                                <div><p>-</p></div>
                                <div><p>100% vegan</p></div>
                                <div><p>-</p></div>
                                <div><p>High grade ingredients</p></div>
                                <div><p>-</p></div>

                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="sec-tags-lines"></div>
        </section>
        <section class="hair-sec-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mt-1 text-bg-line-pink text-bg-line mt-md-5 pt-3 mb-md-4 pb-md-2"><span>All About Our Haircare Ingredients</span></h2> </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-md-4 ingredient-box"> <img src="{{ 'hair_ingredient_sw.png' | asset_url }}" />
                        <h3>Sourced Worldwide</h3>
                        <p> At Bare Anatomy, we ensure that our ingredients are meticulously sourced, with the highest grade quality. From Brazil’s Amazon Rainforest to South Wales in Australia, our ingredients are sourced from the most exotic locations to ensure safety and high efficacy </p>
                    </div>
                    <div class="col-md-4 ingredient-box"> <img src="{{ 'hair_ingredient_es.png' | asset_url }}" />
                        <h3>EWG Safe</h3>
                        <p> The Environmental Working Group’s mission is to empower people to live healthier lives in a healthier environment. At Bare Anatomy, we make sure that all our haircare ingredients are EWG safe. The EWG rating helps us to categorize into three levels of safety: </p>
                        <p class="mt-3 justify-content-center text-center"> 1-2: High Safety | 3-6 Moderate Safety | 7-10 Low Safety </p>
                    </div>
                    <div class="col-md-4 ingredient-box"> <img src="{{ 'hair_ingredient_rb.png' | asset_url}}" />
                        <h3> Research-Based </h3>
                        <p> With years of research experience, our scientists create the most advanced and clean haircare products for you. Our constant study and research ensures that your unique formulations are up-to-date with the latest discoveries </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Safe Healthy Section start Here -->
        <section class="work-section safe-healthy pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 align-self-center ">
                        <div>
                            <h3 class="heading-style7 text-bg-line text-bg-line-blue"><span>Safe & Healthy</span></h3>
                            <p class="pb-md-4 pt-md-5 pt-2 px-md-0 px-5 safe-healthy-sub">At Bare Anatomy, we care about your health and wellness. Hence, we build products that are free of any harmful chemicals and toxins that could cause any damage to you </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row pl-md-5 pr-md-5 ml-md-5 mr-md-5">
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-md-2 mb-0 pb-2 pt-2"> <img src="{{ 'hair_ingredient_freshly-made.png' | asset_url }}" class="work-image w-sm-100" />
                                <h6>Freshly-Made </h6> </p>
                            </div>
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-md-2 mb-0 pb-2 pt-2"> <img src="{{ 'hair_ingredient_100-toxin-free.png' | asset_url }}" class="work-image w-sm-100" />
                                <h6>100% Toxin Free  </h6> </p>
                            </div>
                        </div>
                        <div class="row pl-md-5 pr-md-5 ml-md-5 mr-md-5">
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-md-2 mb-0 pb-2 pt-2"> <img src="{{ 'hair_ingredient_100-vegan.png' | asset_url }}" class="work-image w-sm-100" />
                                <h6 class="mb-0">100% Vegan  </h6> </p>
                            </div>
                            <div class="col-6 text-center">
                                <p class="mt-2 mb-md-2 mb-0 pb-2 pt-2"> <img src="{{ 'hair_ingredient_peta-certified.png' | asset_url}}" class="work-image w-sm-100" />
                                <h6 class="mb-0">PETA Certified </h6> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Safe Healthy Section Ends Here -->
        <!-- Complete ingredients journal Section Start Here -->
        <section class="ingredients-section1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 p-right align-self-center">
                        <h3 class="pb-4 text-bg-line-pink text-bg-line"><span>Complete ingredients journal</span></h3>
                        <p class="pb-3"> We use clean and effective haircare ingredients, backed by science, not just trends. They are handpicked to work for your unique hair concerns </p>
                        <p class="pb-4"> All the ingredients listed here might not be available in your haircare formulation, as our scientists meticulously pick only the ingredients which suit your hair goals perfectly! </p>
                        <p class="bold">EWG score</p>
                        <p class="pb-4 p-style1"> 1-2: High Safety | 3-6 Moderate Safety | 7-10 Low Safety </p>
                        <p class="pb-5 mt-5"> <a href="" class="button-style2">GET YOUR FORMULA</a> </p>
                    </div>
                    <div class="col-md-4 col align-self-center">
                        <div class="myslider-new">
                            <div class="item a">
                                <h3>Sodium Methyl Cocoyl Taurate Oil </h3><p>Surfactant  <br><span>EWG SCORE : 1</span></p>
                                <h3>Capryl Glucoside Oil and water solubilizer </h3><p>Surfactant <br><span>EWG SCORE : 1</span></p>
                                <h3>Cocamidopropyl Betaine, Foam booster | oil and water solubilizer</h3><p>Surfactant <br><span>EWG SCORE : 2</span></p>
                                <h3>Acrylates Copolymer</h3><p> Increases Viscocity  <br><span>EWG SCORE : 2</span></p>
                                <h3>TEA-Dodecylbenzenesulfonate & Laureth 21</h3><p>Conditioning Agent <br><span>EWG SCORE : 2</span></p>
                                <h3>Tilia Tomentosa Bud Extract</h3><p>Voluminising Agent <br><span>EWG SCORE : 1</span></p>
                            </div>
                            <div class="item b">
                                <h3>Amodimethicone</h3><p>Conditioning Agent <br><span>EWG SCORE : 1</span></p>
                                <h3>Fragrance</h3><p>Perfume <br><span>EWG SCORE : -</span></p>
                                <h3>Polyquaterium-7</h3><p>Conditioning Agent <br><span>EWG SCORE : 3</span></p>
                                <h3>Polyquaterium-10</h3><p>Conditioning Agent <br><span>EWG SCORE : 1</span></p>
                                <h3>Glycol Stearate</h3><p>Hair Smoothening <br><span>EWG SCORE : 1</span></p>
                                <h3>Sodium Benzoate</h3><p>Preservative <br><span>EWG SCORE : 3</span></p>
                            </div>
                            <div class="item c">
                                <h3>Phenoxyethanol</h3><p>Preservative <br><span>EWG SCORE : 3</span></p>
                                <h3>Argania Spinosa Kernal Oil</h3><p>Moisturizing Agent <br><span>EWG SCORE : 1</span></p>
                                <h3>Citric Acid</h3><p>pH Control Agent <br><span>EWG SCORE : 2</span></p>
                                <h3>Sodium Hydroxide</h3><p>Thickener <br><span>EWG SCORE : 3</span></p>
                                <h3>Ethylenediaminetetraacetic acid</h3><p>Chelating Agent <br><span>EWG SCORE : 2</span></p>
                                <h3>Glycerin</h3><p>Retains Moisture  <br><span>EWG SCORE : 2</span></p>
                            </div>
                            <div class="item d">
                                <h3>Rosmarinus Leaf Extract</h3><p>Hair Growth <br><span>EWG SCORE : 1</span></p>
                                <h3>Nasturium officinale Extract</h3><p>Hair Strengthening <br><span>EWG SCORE : 1</span></p>
                                <h3>Salvia Officinalis Leaf Extract</h3><p>Hair Strengthening <br><span>EWG SCORE : 1</span></p>
                                <h3>Niacin</h3><p>Hair Nourishment <br><span>EWG SCORE : 1</span></p>
                                <h3>Biotin</h3><p>Hair Growth <br><span>EWG SCORE : 1</span></p>
                                <h3>Salicylic Acid</h3><p>Controls Acne  <br><span>EWG SCORE : 3</span></p>
                            </div>
                            <div class="item e">
                                <h3>Ethylhexylglycerin</h3><p>Moisture  <br><span>EWG SCORE : 2</span></p>
                                <h3>Carthamus Tinctorius Seed Oil</h3><p>Hair Growth Stimulant <br><span>EWG SCORE : 1</span></p>
                                <h3>Olea Europaea</h3><p>Hair Growth  <br><span>EWG SCORE : 1</span></p>
                                <h3>Cetyl Alcohol</h3><p>Moisturizing Alcohol <br><span>EWG SCORE : 1</span></p>
                                <h3>Shea Butter</h3><p>Moisturizing Agent <br><span>EWG SCORE : -</span></p>
                                <h3>Ethylenediaminetetraacetic acid</h3><p>Chelating Agent <br><span>EWG SCORE : 2</span></p>
                            </div>
                            <div class="item f">
                                <h3>Cocus Nucifera</h3><p>Adds Shine  <br><span>EWG SCORE : 1</span></p>
                                <h3>Cetrimonium Chloride</h3><p>Hair Conditioning Agent <br><span>EWG SCORE : 4</span></p>
                                <h3>Dimethicone</h3><p>Conditining Agent <br><span>EWG SCORE : 3</span></p>
                                <h3>Cetearyl Alcohol</h3><p>Emulsifier <br><span>EWG SCORE : 1</span></p>
                                <h3>Polysorbate 60</h3><p>Emulsifier <br><span>EWG SCORE : 3</span></p>
                                <h3>Citric Acid</h3><p>pH control agent <br><span>EWG SCORE : 2</span></p>
                            </div>
                            <div class="item g">
                                <h3>Sodium Benzoate</h3><p>Preservative <br><span>EWG SCORE : 3</span></p>
                                <h3>Phenoxyethanol</h3><p>Preservative <br><span>EWG SCORE : 3</span></p>
                                <h3>Simmondsia Chinensis Seed Oil</h3><p>Hair Strengthening <br><span>EWG SCORE : 1</span></p>
                                <h3>Prunus Amygdalus Dulcis</h3><p>Hair Strengthening <br><span>EWG SCORE : 1</span></p>
                                <h3>Bentonite Clay</h3><p>Oil control <br><span>EWG SCORE : 2</span></p>
                                <h3>Sodium Lauroyl Methyl Isethionate</h3><p>Foaming Agent <br><span>EWG SCORE : 1</span></p>
                            </div>
                            <div class="item h">
                                <h3>Behentrimium Chloride</h3><p>Conditining Agent <br><span>EWG SCORE : 4</span></p>
                                <h3>PQ-6</h3><p>Conditining agent <br><span>EWG SCORE : 3</span></p>
                                <h3>PQ-53</h3><p>Conditining agent <br><span>EWG SCORE : 2</span></p>
                                <h3>Cocamide MEA</h3><p>Surfactant <br><span>EWG SCORE : 3</span></p>
                                <h3>PEG-45 M</h3><p>Adds Shine  <br><span>EWG SCORE : 3</span></p>
                                <h3>Propan-di-ol</h3><p>Humectant <br><span>EWG SCORE : 2</span></p>
                            </div>
                            <div class="item i">
                                <h3>Phytosqualene</h3><p>Hair Smoothening <br><span>EWG SCORE : 1</span></p>
                                <h3>Guar Hydroxypropyltrimonium Chloride</h3><p>Conditining Agent <br><span>EWG SCORE : 1</span></p>
                                <h3>Hydrolised vegetable protein</h3><p>Strengthening Agent <br><span>EWG SCORE : 1</span></p>
                                <h3>Witch Hazel</h3><p>Anti-inflammation <br><span>EWG SCORE : 3</span></p>
                                <h3>Saw Palmetto</h3><p>Hair Growth <br><span>EWG SCORE : 1</span></p>
                                <h3>Hydroxyproplycellulose</h3><p>Hair Cleansing <br><span>EWG SCORE : 1</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Complete ingredients journal Section Ends Here -->


        <!-- Complete ingredients journal Section Start Here -->
        <section class="ingredients-section2 ingredients-section1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 p-right align-self-center">
                        <h3 class="pb-4 text-bg-line-pink text-bg-line"><span>Ingredients We Avoid</span></h3>
                        <p class="pb-3"> We care about your health, so we make sure that we avoid using the following harmful ingredients in our products</p>
                        <p class="pb-4"> They are harmful because their<br><span class="bold">EWG rating is betwen 7-10</span> </p>
                    </div>
                    <div class="col-md-4 col align-self-center">

                        <div class="myslider">
                            <div class="item a">
                                <h3>Oxybenzone</h3><p>Causes allergy <br><span>EWG SCORE : 8</span></p>
                                <h3>Formaldehyde</h3><p>Carcinogenic <br><span>EWG SCORE : 10</span></p>
                                <h3>Parabens</h3><p>Carcinogenic <br><span>EWG SCORE : 9</span></p>
                                <h3>Methylisothiazolinone</h3><p>Lung toxicity <br><span>EWG SCORE : 7</span></p>
                                <h3>Quaternium-15</h3><p>Carcinogenic <br><span>EWG SCORE : 7</span></p>
                                <h3>Imidazolidinyl Urea</h3><p class="mb-0">Carcinogenic <br><span>EWG SCORE : 7</span></p>
                            </div>
                            <div class="item b">
                                <h3>Oxybenzone</h3><p>Causes allergy <br><span>EWG SCORE : 8</span></p>
                                <h3>Formaldehyde</h3><p>Carcinogenic <br><span>EWG SCORE : 10</span></p>
                                <h3>Parabens</h3><p>Carcinogenic <br><span>EWG SCORE : 9</span></p>
                                <h3>Methylisothiazolinone</h3><p>Lung toxicity <br><span>EWG SCORE : 7</span></p>
                                <h3>Quaternium-15</h3><p>Carcinogenic <br><span>EWG SCORE : 7</span></p>
                                <h3>Imidazolidinyl Urea</h3><p class="mb-0">Carcinogenic <br><span>EWG SCORE : 7</span></p>
                            </div>
                            <div class="item c">
                                <h3>Oxybenzone</h3><p>Causes allergy <br><span>EWG SCORE : 8</span></p>
                                <h3>Formaldehyde</h3><p>Carcinogenic <br><span>EWG SCORE : 10</span></p>
                                <h3>Parabens</h3><p>Carcinogenic <br><span>EWG SCORE : 9</span></p>
                                <h3>Methylisothiazolinone</h3><p>Lung toxicity <br><span>EWG SCORE : 7</span></p>
                                <h3>Quaternium-15</h3><p>Carcinogenic <br><span>EWG SCORE : 7</span></p>
                                <h3>Imidazolidinyl Urea</h3><p class="mb-0">Carcinogenic <br><span>EWG SCORE : 7</span></p>
                            </div>
                            <div class="item d">
                                <h3>Oxybenzone</h3><p>Causes allergy <br><span>EWG SCORE : 8</span></p>
                                <h3>Formaldehyde</h3><p>Carcinogenic <br><span>EWG SCORE : 10</span></p>
                                <h3>Parabens</h3><p>Carcinogenic <br><span>EWG SCORE : 9</span></p>
                                <h3>Methylisothiazolinone</h3><p>Lung toxicity <br><span>EWG SCORE : 7</span></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- Complete ingredients journal Section Ends Here -->
    </div>
</main>
<style>
    :root {
        --color-base: $color-base;
        --color-blue: $color-blue;
        --color-blue-dar: $color-blue-dark;
        --color-blue-darke: $color-blue-darker;
        --color-blue-ligh: $color-blue-light;
        --color-green: $color-green;
        --color-green-lighte: $color-green-lighten;
        --color-green-dar: $color-green-dark;
        --color-green-darke: $color-green-darken;
        --color-green-shad: $color-green-shade;
        --color-green-ligh: $color-green-light;
        --color-red-dar: $color-red-dark;
        --gray-100: $gray-100;
        --gray-900: $gray-900;
        --gray-800: $gray-800;
        --gray-400: $gray-400;
        --gray-300: $gray-300;
        --gray-500: $gray-500;
        --gray-600: $gray-600;
        --gray-200: $gray-200;
    }
    @font-face {
        font-family: "helvetica";
        src: url("../fonts/helvetica.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Neue Helvetica Light';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Helvetica\ Neue\ LT\ 45\ Light.woff') format('woff');
    }
    @font-face {
        font-family: 'Neue Helvetica Medium';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Helvetica\ Neue\ LT\ 65\ Medium.woff') format('woff');
    }

    /*
    2.) Global Typography
    =========================================================*/
    body {
        font-family: "Proxima Nova", sans-serif;
        font-weight: normal;
        color: #616161;
    }
    /*
    3.) Color Theme Groups
    =========================================================*/

    #footer {
        background-color: #003a70;
    }
    .container{
        margin-top:0 !important;
    }
    .btn-primary {
        background-color: #35b6b4;
    }
    #footer,
    #footer a {
        color: #fff;
    }
    .form-control::placeholder,
    .form-control,
    .navbar-toggler {
        color: #003a70;
    }
    /*
    4.) Bootstrap Overwrites
    =========================================================*/
    *:focus,
    button:focus,
    .form-control:focus,
    .btn:focus {
        box-shadow: none;
        outline: none;
    }
    label {
        font-size: 1.125rem;
        line-height: 1.23;
        margin-bottom: 0.75rem;
    }
    .container {
        /* max-width: 1300px; */
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .form-control {
        font-size: 0.8125rem;
        line-height: 1.24;
        border-radius: 5px;
        border-color: #fff;
        padding: 0.75rem 1rem;
        height: auto;
    }
    .form-control::placeholder {
        opacity: 1;
    }
    /*
    5.) Header Section Style
    ========================================================*/
    #header {
        background-color: #fff;
        position: relative;
        z-index: 100;
    }
    @media (min-width: 992px) {
        #header {
            z-index: 2;
            border-bottom: 1px solid #35b6b4;
        }
    }
    .stickyHeader {
        position: fixed !important;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10 !important;
    }
    .stickyHeader .headerPrimary {
        display: none;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,58,112, 1.0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-brand > img {
        max-width: 98px;
    }
    .headerMobControl > ul,
    .headerMobControl > ul > li > a,
    .headerMobControl > ul > li {
        display: flex;
    }
    .headerMobControl > ul > li:last-child > a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #35b6b4;
        font-size: 0.75rem;
        line-height: 1;
    }
    .headerMobControl > ul > li:last-child > a > i {
        font-size: 1.5rem;
        display: block;
        margin-bottom: 0.625rem;
    }
    .headerMobControl > ul > li:first-child > a {
        border-right: 1px solid #cfcfcf;
        color: #616161;
        font-size: 1.125rem;
    }
    .headerMobControl > ul > li:first-child > a {
        align-items: center;
        padding-right: 1.5rem;
        margin-right: 1.25rem;
    }
    .dropdown-toggle {
        position: relative;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
        line-height: 1.23;
        color: #003a70;
        font-weight: 500;
    }
    .dropdown-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: #fff;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: #35b6b4;
        color: #fff;
    }
    .headerTertiary {
        background: linear-gradient(to right, white 0%, white 292px, #35b6b4 292px, #35b6b4 292px, #35b6b4 100%);
        height: 42px;
        position: relative;
        display: none;
        align-items: center;
    }
    .headerTertiary::after {
        content: "";
        position: absolute;
        left: 291px;
        top: 0;
        border: 21px solid;
        border-color: transparent transparent transparent #fff;
    }
    .headerTertiary ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .headerTertiary li {
        margin-left: 1.5rem;
    }
    .headerTertiary li a {
        color: #fff;
    }
    /*
    6.) Footer Section Style
    ========================================================*/
    #footer {
        padding: 3.5rem 0 1.5rem;
        line-height: 1;
    }
    #footer p {
        margin-bottom: 0;
    }
    .footerNav a {
        display: block;
        margin-bottom: 1.25rem;
    }
    .socialMediaList,
    .appStore {
        display: flex;
        margin-bottom: 0;
    }
    .socialMediaList {
        margin-bottom: 1rem;
    }
    .socialMediaList a {
        font-size: 1.25rem;
        padding: 5px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 0.25rem;
    }
    .appStore a {
        font-size: 2rem;
        display: flex;
        margin-right: 1rem;
    }
    .socialMediaList a:hover,
    .socialMediaList a:focus,
    .appStore a:hover,
    .appStore a:focus {
        text-decoration: none;
    }
    #footer .socialMediaList a:hover,
    #footer .socialMediaList a:focus {
        background-color: #fff;
        color: #35b6b4;
    }
    #footer .appStore a:hover,
    #footer .appStore a:focus {
        color: #35b6b4;
    }
    #footer h6 {
        margin-bottom: 1rem;
    }
    .footerNavSecondry {
        display: flex;
        margin-bottom: 0.75rem;
    }
    .footerNavSecondry a {
        margin-right: 2.5rem;
    }
    .footerPrimary,
    .footerSecondry {
        margin-bottom: 3.5rem;
    }
    /*
    7.) Content Area Style
    ========================================================*/
    #content {
        *min-height: 100vh;
    }
    /*
    8.) Media Query Conditions
    ========================================================*/
    @media only screen and (min-width: 575px) {
        .socialMediaList {
            margin-bottom: 0;
        }
    }
    @media only screen and (min-width: 1200px) {
        .headerTertiary {
            display: flex;
        }
        .headerSecondry,
        .headerTertiary,
        #footer {
            padding-left: 54px;
            padding-right: 54px;
        }
        .navbar-expand-xl {
            padding-top: 0;
            padding-bottom: 0;
        }
        .navbar-brand > img {
            max-width: none;
            transform: translateY(-20px);
        }
        .navbar-expand-xl .navbar-nav .nav-link {
            font-size: 1.125rem;
            line-height: 1.23;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        #footer {
            padding-top: 5.5rem;
            padding-bottom: 2rem;
        }
        .footerPrimary,
        .footerNavSecondry {
            margin-bottom: 0;
        }
    }
    /*# sourceMappingURL=custom.css.map */
    .banner-sec {
        background: linear-gradient(180deg, rgba(255, 236, 235, 0.31) 0%, #E6F7FF 100%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .banner-sec .banner-icos img {
        margin: 0 auto 15px;
        display: block;
    }
    .banner-sec .banner-icos p {
        color: #413F3F;
        font-size: 18px;
        line-height: 1.3;
    }
    .banner-sec h2 {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 46px;
        line-height:60px ;
        text-transform: capitalize;
        color: #01385E;

    }
    .banner-sec h3{font-size: 24px;color:#000;font-weight: 500;}
    .banner-sec p {color:#000;font-size: 16px;font-weight: 300;}

    .banner-sec p.banner-sub-h{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height:26px;
        color: #666666;
    }
    .banner-sec p.common{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
        color: #666666;
    }


    .banner-sec h2 span {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 6px;
    }
    .banner-sec h2 span:before {
        z-index: -1;
        top: 12px;
        content: '';
        background-color: #fff;
        left: 0;
        right: 0;
        height: calc(100% - 17px);
        position: absolute;
    }
    .button {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #01385E;
        padding: 12px 26px;
        line-height: 1;
        font-size: 18px;
        text-decoration: none;
        z-index: 1;
        position: relative;
    }
    .button:hover {
        text-decoration: none;
        color: #fff;
    }
    .button::before {
        content: '';
        background-color: #FFCBC0;
        position: absolute;
        height: calc(100% + 5px);
        z-index: -1;
        left: 0px;
        width: calc(100% + 14px);
        left: -7px;
        bottom: -9px;
    }

    .work-section  p{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height:  28px ;
        color: #413F3F;


    }

    .header-section{
        background:#fff6f4;
    }
    .cart-count {
        position: absolute;
        top: 0px;
        background: #ffcbc0;
        padding: 3px 7px 1px 7px;
        border-radius: 10px;
        font-size: 12px;
        right: 40px;
        color:#000;
    }
    .hair-section{
        background:#fff5f3;
    }
    .box-heading {
        display: inline-block;
    }
    .box-heading h1,
    .box-heading h2,
    .box-heading h3{
        background: #fff;
        padding: 4px 20px;
        border: 1px solid #ffcbc0;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        margin:0px;
        margin-top:-20px;
        color: #01385E;
    }
    .box-heading {
        display: inline-block;
        border: 2px solid #ffcbc0;
        padding: 5px;
        margin-bottom: 20px;
        background-color: #E6F7FF;
    }
    .slick-slide.card {
        border-radius: 5px;
    }
    .box-heading h4,
    .box-heading h5,
    .box-heading h6 {
        background: #fff;
        padding: 2px 10px;
        border: 1px solid #ffcbc0;
        font-family: 'helvetica', serif;
        font-weight: 600;
        margin:0px;
        margin-top:-12px;
        font-weight:normal;
        color:#01385e;
    }
    .hair-section .box-heading h6 {
        font-weight: bold;
    }
    .sub-heading {
        font-size: 16px;
        max-width: 650px;
        text-align: center;
        margin: 10px auto 30px;
        font-family: 'helvetica', serif;
    }
    .pa-4{
        padding:4px;
    }
    .max-800{
        max-width:800px;
        margin:0px auto;
    }
    .full-width{
        width:100%;
    }
    .hair-box-style{
        border:2px solid #ffcbc0;
        margin:5px;
        padding:1px;
        padding-bottom: 5px;
        border-radius:3px;
        background-color: #E6F7FF;
        font-size:15px;
    }


    .work-section{
        width:calc( 100% -60px );
        background:#fffbfb;

    }


    .work-section h6{

        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
        color: #4B4B4B;
        margin-bottom:75px;
    }




    .set-padding {
        padding: 0px 50px 0px 30px;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .color-blue{
        color:#01385e !important;
    }

    .width-md-900{
        width:100%;
        max-width:900px;
        margin:0px auto;
    }
    .w-100{
        width:100%;
    }
    .w-80{
        width:80%;
    }
    .w-60{
        width:60%;
    }
    .semi-bold{
        font-weight:600 !important;
    }
    .bold{
        font-weight:bold !important;
    }
    .helvetica{
        font-family: Helvetica;
    }
    .playfair{
        font-family: 'Playfair Display', serif;
    }
    .normal{
        font-weight:normal !important;
    }
    .set-padding{

    }

    /***********Font Size Style***********/
    .f-12{
        font-size:12px;
    }

    .f-14{
        font-size:14px;
    }

    .f-18{
        font-size:18px;
    }

    .f-20{
        font-size:20px;
    }

    .f-28{
        font-size:28px;
    }

    /***********Font Color Style***********/
    .f-1b3a63{
        color:#1B3A63;
    }
    .f-4B4B4B{
        color:#4B4B4B;
    }
    .f-01385e{
        color:#01385e;
    }
    /***********Margin Style***********/
    .mt-50{
        margin-top:50px;
    }
    .mt-100{
        margin-top:100px;
    }

    /***********Paragraph Style***********/
    p{
        font-size:18px;
        color:#000;
    }

    /***********Button Style***********/
    .button-style1{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        text-decoration-line: underline;
        color: #413F3F;

    }
    .button-style1:hover{
        color:#01385e;
    }


    .button-style2{
        font-family: Helvetica;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        background: #16375a;
        color: #fff;

        padding:14px 25px;
    }
    .button-style3{
        font-family: "Neue Helvetica Light";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        background: #16375a;
        color: #fff;
        text-transform:uppercase;
        padding:14px 70px;
    }
    .button-style2:hover, .button-style3:hover{
        text-decoration:none;
        background:#fff;
        color:#162E5A;
        border:1px solid #162E5A;
    }

    /***********Heading Style***********/
    .heading-style7{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.02em;
        color: #1B3A63;
    }
    /* Trusted by Indian Women */




    .heading-style1{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 37px;
        color: #01385E;
    }
    .list-style1{
        margin-top:50px;
        margin-left:0px;
        padding-left:0px;
    }
    .list-style1 li {
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 115%;
        letter-spacing: 0.02em;
        text-align: left;
        color: #000;
        background-image: url(../images/li-bg.png);
        background-repeat: no-repeat;
        list-style: none;
        padding-left: 40px;
        margin-bottom: 20px;
        background-size: 25px;
        min-height: 25px;
        background-position: left 0px center;
    }


    .bottom-section{
        background-image: url("../images/haircare-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .testimonils-section .profile-image{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        padding: 2px;
        object-fit: cover;
        position: absolute;
        top: -43px;
        z-index: 1;
        left: 0;
        right: 0;
    }
    .testimonils-section .star-rating {
        display: block;
        margin: 45px auto 20px;
    }
    /* .testimonils-section .card{
    position: relative;
    } */
    .testimonils-section .slick-track {
        padding-top: 40px;
    }
    @media (max-width:991.98px) {
        .padding {
            padding: 1.5rem
        }
    }
    @media (max-width:767.98px) {
        .hair-box-style {
            padding:0;
            padding-bottom: 5px;
        }
        .banner-btn-col {
            order:1;
        }
        .banner-icos-col {
            order:2;
        }
        .banner-sec .banner-icos p {
            font-size: 16px;
            margin-bottom: 18px;
        }
        .box-heading h2 {
            font-size:22px;
        }
        .box-heading h1, .box-heading h2, .box-heading h3 {
            padding: 25px 15px;
        }
        .padding {
            padding: 1rem
        }
    }
    .padding {
        padding: 5rem
    }
    .card {
        position: relative;

        display: flex;
        width: 600px;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
    }
    .card .card-body {
        padding: 1rem 1rem;
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.08);
        border-radius: 5px;

    }
    p.card-text {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        color: #4B4B4B;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem
    }
    p {
        font-size: 0.875rem;
        margin-bottom: .5rem;
        line-height: 1.5rem
    }
    h4 {
        line-height: .2 !important
    }
    .items {
        width: 90%;
        margin: 0px auto;
        margin-top: 30px;
    }
    .slick-slide {
        margin: 10px
    }
    .media iframe,
    .media-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 0;
        border-radius: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgba(120, 120, 120, .1);
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .media-content:before {
        content: '';
        position: absolute;
        height: 10%;
        width: 90%;
        left: 5%;
        bottom: 0;
        background: inherit;
        background-position-y: 100%;
        filter: blur(10px)
    }
    .circle .media-content:before {
        width: 40%;
        left: 30%
    }
    .profile-image {
        /* width: 100%;
        height: 200px;
        border-top-left-radius: 11px !important;
        border-top-right-radius: 11px */
    }
    .card-title {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        text-align: center;

        color: #4B4B4B;


    }

    .max-1000{	 max-width:1000px;	 margin:0px auto; } .step-box-style{	 background:#e6f7ff;	 border-bottom:4px solid #01385e;	 border-radius:6px;	 display: flex;  align-items: center;  justify-content: center; } .count-text {    color: #01385e;    font-size: 17px;    font-family: 'helvetica', serif;    display: inline-block;    vertical-align: top;    line-height: 23px;    padding-left: 15px;    width: 200px;    text-align: left;}

    .count {    display: inline-block;    font-size: 40px;    font-family: 'Playfair Display', serif;    border-right: 1px solid #01385E;    padding: 0px 18px 0px 0px;    vertical-align: top; color:rgb(1, 56, 94);	    }
    .testimonils-section .slick-next:before {
        content:'\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color:#01385E;
        border:1px solid #01385E;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        font-size: 25px;
    }
    .testimonils-section .slick-prev:before {
        content:'\f053';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color:#01385E;
        border:1px solid #01385E;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        font-size: 25px;
    }
    .testimonils-section .slick-prev {
        left: -50px;
    }



    /* other */


    .text-bg-line span {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 0px;
    }

    .text-bg-line span:before {
        z-index: -1;
        top: 17px;
        content: '';
        left: 0;
        right: 0;
        height: 18px;
        position: absolute;
    }
    .text-bg-line-pink.text-bg-line span:before{
        background-color: #fff6f4;
    }

    .text-bg-line-blue.text-bg-line span:before{
        background-color: #E6F7FF;
    }



    .sec-tags .slider{
        width:100%;
        overflow:hidden;
        position:relative;
        margin:0;
    }
    .sec-tags .edge{
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:absolute;
        height:100%;
        display:block;
    }
    .sec-tags .edge:before{
        content:'';
        position:absolute;
        left:0;

        width:25%;
        height:100%;
    }
    .sec-tags .edge:after{
        content:'';
        position:absolute;
        right:0;

        width:25%;
        height:100%;
    }
    .sec-tags ul{

        overflow:hidden;
        width:1000%;
        margin:0;
    }
    .sec-tags li{
        color: #01385E;
        margin: 10px 0px;
        text-align: center;
        font-size: 18px;


        list-style:none;
        display:inline-block;
        padding:0 30px;
    }





    #block1,
    #block2,  #block3,  #block4,  #block5{
        display: none;
        height: 100px;
        width: 100px;
        background-color: #d1e2f3;
        color: #000;
    }

    .hair-sec-2 p {font-size: 18px;color:#4B4B4B;font-weight: 400;margin-top: 3px;}
    .hair-slider {margin-bottom: 36px !important;}
    .hair-sec-2 {
        background: linear-gradient(180deg, #E6F7FF 8.63%, rgba(255, 236, 235, 0.04) 75.46%);
        mix-blend-mode: multiply;
    }
    .ingredients-section1 {
        background: #fff;
        padding-top:90px;
        padding-bottom:70px;
    }
    .ingredients-section2 {
        background: #fbfbfb;
    }
    .ingredients-section1 p{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 132%;
        color: #413F3F;
    }

    .p-style1{
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 137.49%;
        color: #4B4B4B;
    }




    .ingredients-section1 h3{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
        text-transform: capitalize;
        color: #4B4B4B;
    }





    .ingredients-section1 .p-right{
        padding-right:200px;
    }
    .hair-sec-2 h2 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
        text-transform: capitalize;
        color: #413F3F;
    }
    .ingredient-box p{
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height:  21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #555555;
    }
    .ingredient-box{
        margin-bottom:100px;
    }
    .ingredient-box img{
        margin-top:30px;
    }
    .ingredient-box h3{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 20px;
        line-height: 27px;
        color: #413F3F;
        margin-top:30px;
        margin-bottom:25px;
    }


    .hair-slider .slick-prev:before, .hair-slider-2 .slick-prev:before {
        content: '\f053';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #01385E;

        background-color: inherit;
        opacity: 1;
        padding: 10px 15px;
        font-size: 14px;
    }
    .hair-slider .slick-next:before, .hair-slider-2 .slick-next:before {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #01385E;

        background-color: inherit;
        opacity: 1;
        padding: 10px 15px;
        font-size: 14px;
    }
    .hair-sec-2 .slick-prev {top:40%;left: -40px;}
    .hair-sec-2 .slick-next{top:40%;right: -30px;}
    .sec-tags p{color:#01385E;margin: 10px 15px 5px;text-align: center;font-size: 18px;}
    /* .sec-tags-cover {overflow-y: auto; white-space: nowrap;} */

    .tags-scroll-cover > div{ display: inline-block;}
    .sec-tags-lines {

        background: #abcdeb;height: 2px;width: 100%;}
    .as-seen-in-head {font-size: 14px;}
    .as-seen-in-head-sec {
        background: #fffbfb;
    }
    .as-seen-in {
        border-top: 2px solid #eeada9;
        border-bottom: 2px solid #eeada9;

    }

    .as-seen-in img {
        display: block;
        margin: 0 auto;
    }

    .clr-txt{color:#555f61;}
    .blk-text{color:#000;}

    @media (max-width:768px) {

        .ingredients-section1 {

            padding-top:30px;

        }
        .text-bg-line span:before {
            top: 11px;
            height: 14px;
        }
        .cart-count {
            right:28px;
        }

        .work-section.safe-healthy .safe-healthy-sub {
            line-height: 14px;
        }
        .work-section.safe-healthy img{
            width: 60px;
            height: 60px;
        }
        .work-section h6 {
            font-size: 12px;
            margin-bottom: 10px;
        }
        #block1,
        #block2,  #block3,  #block4,  #block5{

            background-color: #c2daf2;

        }

        .hair-slider .slick-slide, .hair-slider-2 .slick-slide {
            margin:10px 5px;
        }

        .as-seen-in img {height: 25px;}
        .logo-top {width: 200px;}
        .testimonils-section .card{width: 100%;
            margin: 70px 0 70px 0;}

        .work-image {height: initial;}
        .hair-sec-2 h3 {font-size: 18px;color:#413F3F;margin-bottom: 15px;font-weight:500;}
        .hair-sec-2 p.sub-heading {
            font-size:11px;
            line-height: 15.95px;
            margin-top: 12px;
            margin-bottom: 25px;
        }
        .hair-slider {
            margin-bottom: 10px !important;
        }
        .heading-style1 {
            font-size: 24px;
        }
        .hair-sec-2 h2 {
            color: #01385E;
            font-size: 18px;

        }
        .hair-sec-2 p {
            font-size: 14px;
        }
        .hair-slider-btn{text-align: center;}
        .hair-slider-btn a {display: inline-block;width: calc(100% - 50px);padding: 14px 0px;}
        .banner-img-side {padding-top: 0px;}
        .banner-sec h2 {
            font-family: Playfair Display;
            font-style: italic;
            font-weight: normal;
            font-size: 28px;
            line-height: 131.1%;
            text-align: center;
            text-transform: capitalize;
            color: #01385E;
            text-align: center;

        }
        .banner-sec h3 {font-size: 16px;text-align: center;}
        .banner-sec p.banner-sub-h {


            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 144.9%;
            text-align: center;

            color: #666666;



        }



        .work-section .button-style2 {
            display: inline-block;
            width: 100%;
        }
        .w-sm-100 {width:100%;}
        .work-section-or-1 {order:1;}
        .work-section-or-2 {order:2;}
        .set-padding {
            padding: 0px 30px 0px 15px;
        }
        .bottom-section {
            background-image: url(../images/haircare-mob.jpg);
            background-size: contain;
            background-color: #d0e2ec;

        }
        .bottom-section .list-style1 {
            margin-top: 430px;
            margin-left: 25px;
            margin-right: 25px;
        }
        .bottom-section .list-style1 li {
            font-size: 12px;
            color: #000;
            line-height: 13.8px;
            margin-bottom: 15px;
            font-weight: 300;
            background-size: 18px;
            background-position: left 0px top;
            padding-left: 30px;
        }
        .bsec-p {font-size: 12px;text-align: center;}
        .bsec-p span {font-size: 18px;}
        .bottom-section-shipping  {
            line-height: 1.2;
            font-size: 10px;
        }
        .bottom-section-head {margin-top: 0;}
        .bottom-section-btn {
            width: 100%;
        }

        .ingredients-section1 h3{
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-transform: capitalize;
            font-feature-settings: 'cpsp' on;
            color: #4B4B4B;
            text-align:center;
        }
        .ingredients-section1 .p-right {
            padding-right: 15px;
        }

        .ingredients-section1 p {
            font-family: Helvetica;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 137.49%;
            text-align: center;
            color: #4B4B4B;
        }

        .hair-sec-2 h3{
            font-family: Helvetica Neue;
            font-size: 12px;
            line-height: 15px;
            color: #413F3F;
        }
        .hair-sec-2 p{
            font-size: 11px;
            line-height: 130%;
            text-align: center;
        }
        .ingredient-box img {
            margin-top: 30px;
            max-width: 60px;
        }
        .ingredient-box {
            margin-bottom: 0px;
        }


        .sec-tags p{
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #413F3F;
        }
        .sec-tags-cover {
            height: 35px;
        }
        .banner-sec p.common{
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 14.2714px;
            line-height: 17px;
            text-align: center;
            color: #666666;


        }


        .button-style1{

            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-decoration-line: underline;
            color: #413F3F;
            width:100%;
        }

        .heading-style7{

            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            /* identical to box height */
            font-feature-settings: 'cpsp' on;
            text-align:Center;
            color: #4B4B4B;
        }
        .work-section p{
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 132%;
            /* or 15px */
            text-align: center;
            color: #413F3F;


        }
    }


    @media (max-width: 768px) {

        .ingredients-section1 .myslider h3, .ingredients-section1 .myslider p, .ingredients-section1 .myslider-new h3, .ingredients-section1 .myslider-new p{
            text-align:left;
        }
        .banner-sec .banner-img-side {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
        .banner-sec .banner-text-col {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
    }


    @media (min-width:768px) {
        .ingredients-section1 h3, .ingredients-section1 p{
            text-align:left;
        }


        .hide-desk {display: none;}
        .sec-tags .container-fluid {
            padding-right: 30px;
            padding-left: 30px;
        }
        .sec-gap {margin:0 30px;}
        .as-seen-in {

            background: #fffbfb;
        }
        .work-section{
            margin:30px;
        }
    }


    @media (min-width:1980px) {
        .banner-sec {
            height: 680px;
        }
    }

    /* other */
    /* Slider Css */
    .myslider, .myslider-new{
        width:100%;
        border-radius:10px;
        background:#fff;
        padding: 20px 20px 0px 80px;
    }
    .myslider .item, .myslider-new .item{
        min-height:490px;
    }
    .myslider-new .item p{

        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #413F3F;
        margin-bottom:20px;
    }
    .myslider-new .item p span{
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px ;

        color: #47BA75;


    }

    .myslider .item p span{

        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 132%;
        color: #EB3838;
    }
    .myslider .item p {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #413F3F;
        margin-bottom:20px;
    }
    .slick-dots li {
        display: block !important;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px !important;
    }
    .myslider .slick-dots, .myslider-new .slick-dots {
        position: absolute;
        top: calc( 50% - 30px );
        left: 20px;
        vertical-align: middle;
        width: 20px;
        height:100px;
    }
    .slick-dots li.slick-active button:before {
        color: #01385e !important;
    }
    .slick-dots li button:before {
        font-size: 7px !important;
    }
    .myslider .item h3, .myslider-new .item h3{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-transform: capitalize;
        color: #01385E;
        margin-bottom:5px;
    }


    /* Slicer Css Ends*/

    .mob-tab-alt {background-color: #fff; border-bottom: 1px solid #DFDFDF;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 45px;

    }
    .mob-tab-alt > div {
        flex:0 0 50%;
        position: relative;



    }
    .mob-tab-alt > div a {
        text-decoration: none !important;
        color:#413F3F;
        display: block;
        padding:13px 0;
        font-family: 'Neue Helvetica Medium';
    }
    .mob-tab-alt > div:first-child::after {
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
        content: '';
        height: 4px;
        border-radius: 10px;
        background-color: #01385E;
    }
    marquee{
        padding: 0 !important;
        background:unset !important;
        display: unset !important;
        border-top: unset !important;
        border-bottom: unset !important;
    }
</style>
<script>
    $(document).ready(function() {
        $('.items').slick({
            dots: false,
            infinite: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    arrows: false,
                    slidesToScroll: 1
                }            },
                {
                    breakpoint: 480,
                    settings: "unslick"
                }
            ]
        });




        $('.myslider').slick({

            slidesToScroll: 1,
            arrows: false,
            dots: true,
            vertical: true,
            verticalSwiping: true

        });

        $('.myslider-new').slick({

            slidesToScroll: 1,
            arrows: false,
            dots: true,
            vertical: true,
            verticalSwiping: true

        });


    });




    $(document).ready(function() {
        $('.hair-slider').slick({
            dots: true,
            infinite: true,
            arrows: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: false,
                    arrows: true,
                    dots: true
                }
            },            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3.3,
                    infinite: false,
                    arrows: false,
                    slidesToScroll: 1
                }            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3.3,
                        infinite: false,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });



    $(document).ready(function() {
        $('.hair-slider-2').slick({
            dots: true,
            infinite: true,
            arrows: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 3,
                    infinite: false,
                    arrows: true,
                    dots: true
                }
            },            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3.3,
                    infinite: false,
                    arrows: false,
                    slidesToScroll: 1
                }            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3.3,
                        infinite: false,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });




    $(document).ready(function() {
        $('.tags-scroll').slick({
            dots: true,
            infinite: true,
            arrows: false,
            variableWidth: true,
            speed: 4000,
            autoplay: true,
            autoplaySpeed: 0,
            pauseOnHover: false,
            cssEase: 'linear',
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [{

                breakpoint: 1024,
                settings: {
                    pauseOnHover: false,
                    cssEase: 'linear',
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: false,
                    arrows: false,
                    dots: false
                }
            },            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3.5,
                    cssEase: 'linear',
                    infinite: false,
                    arrows: false,
                    slidesToScroll: 1
                }            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3.5,
                        cssEase: 'linear',
                        infinite: false,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });





    $(document).ready(function() {

        function cycle(...blocks) {
            let i = 0;
            const show = () =>
                $("#" + blocks[i++ % blocks.length] )
                    .fadeIn(400)
                    .delay(blocks[i++ % blocks.length])
                    .fadeOut(400, show);
            show();
        }
        cycle("block1", 2000, "block2", 2000, "block3", 2000, "block4", 2000, "block5", 2000);


    });


    $(document).ready(function() {

// polyfill
        window.requestAnimationFrame = (function(){
            return  window.requestAnimationFrame       ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame    ||
                function( callback ){
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        var speed = 5000;
        (function currencySlide(){
            var currencyPairWidth = $('.slideItem:first-child').outerWidth();
            $(".slideContainer").animate({marginLeft:-currencyPairWidth},speed, 'linear', function(){
                $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
            });
            requestAnimationFrame(currencySlide);
        })();


    });

</script>
