<style>
  .about-home-section{padding:20px 0px;}
  .about-home-section .grid--flush-bottom>.grid__item{width:33.3333%;padding-left:5px;margin:0;}
  .about-home-section .grid--flush-bottom>.grid__item .grid{margin-left:-5px;}
</style>

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="about-home-section index-section color-scheme-{{ section.settings.color_scheme }}">
  {%- if section.settings.color_scheme != 'none' -%}
    {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}
{%- if section.settings.title != blank -%}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {%- endif -%}
  <div class="page-width">
    

    <div class="grid{% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
      {%- liquid
        assign grid_item_width = 'medium-up--one-third'
        case section.blocks.size
          when 1
            assign grid_item_width = 'medium-up--one-half'
          when 2
            assign grid_item_width = 'medium-up--one-half'
          when 4
            assign grid_item_width = 'medium-up--one-half'
        endcase
      -%}
      {%- for block in section.blocks -%}
        {%- if section.blocks.size == 5 and forloop.index < 3 -%}
          {%- assign column_width = 'medium-up--one-half' -%}
        {%- else -%}
          {%- assign column_width = grid_item_width -%}
        {%- endif -%}
        <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          {%- if block.settings.enable_image -%}
            <div style="{% if section.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width }}px;">
              {%- if block.settings.button_link != blank -%}
                <a href="{{ block.settings.button_link }}">
              {%- endif -%}
              {%- if block.settings.image != blank -%}
                <div class="image-wrap text-spacing" style="">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload{% if block.settings.mobile_image != blank %} desktop_img{% endif %}"
                      src="{{ block.settings.image | img_url: 'master' }}"
                      alt="{{ block.settings.image.alt }}">

                {% if block.settings.mobile_image != blank %}
                  {%- assign mob_img_url = block.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload{% if block.settings.image != blank %} mobile_img{% endif %}"
                      src="{{ block.settings.mobile_image | img_url: 'master' }}"
                      alt="{{ block.settings.mobile_image.alt }}">
{% endif %}
                  
                </div>
              {%- else -%}
                <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}</div>
              {%- endif -%}
              {%- if block.settings.button_link != blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if block.settings.title != blank -%}
            <div class="h3 rte--block">{{ block.settings.title }}</div>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <div class="rte-setting rte--block text-spacing">{{ block.settings.text }}</div>
          {%- endif -%}
          {%- if block.settings.button_label != blank -%}
            <a href="{{ block.settings.button_link }}" class="btn btn--secondary btn--small">
              {{ block.settings.button_label }}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Text columns with images",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
