<link rel="stylesheet" href="{{ 'landing_page_hair_2.css' | asset_url }}">
<script src="{{ 'slick.js' | asset_url }}"></script>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Cross Platform Favicon Code Starts -->
    <!-- Cross Platform Favicon Code Ends -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Script To Add HTML Includes And To Enable Font Awesome -->
    <script src="https://kit.fontawesome.com/277952bc34.js"   crossorigin="anonymous" ></script>
</head>

<body>

<!-- Content Starts Here -->
<main id="content">
    <div class="main-container">

        <!-- Banner start Here -->
        <section class="banner-sec sec-gap py-4 py-md-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 banner-text-col">

                    </div>
                    <div class="col-md-5 banner-img-side pb-4 pb-md-0">
                        <!-- <h2 class="text-center d-md-none d-block px-md-5 mb-md-4 mb-4"><span>1,00,000+ users trust </span><br /><span> Bare Anatomy for their </span><br /><span> unique hair needs</span> </h2> -->
                        <h3 class="mb-md-0 mb-1 pt-4 text-center pt-md-2 helvetica-neue-light">Your Every Hair Concern, Now Solved
                            with</h4>
                            <h2 class="mb-md-3 mb-2 text-center"><span>Customized Hair care</span></h2>


                            <p class="pt-md-4 pt-3 mb-md-4 text-center"><a class="button-style3" href="/pages/quiz-3"><strong>Start Your Hair
                                        analysis</strong></a></p>
                            <p class="mb-md-3 mt-md-0 mt-3 mb-3 banner-sub-h helvetica text-center">Existing user? <a onclick="login()" 
                                                                                                                      class="underline">login</a></p>
                                                                                                                      {% comment %} href="/account/login" {% endcomment %}
                            <p class="mb-md-3 mb-2 banner-sub-h helvetica">Free Shipping | COD Available | 20% Cashback | Secure
                                Transactions</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Ends Here -->

        <section class="promise-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center playfair"><span>We Promise What We Deliver</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img data-src="{{'landing_page_hair_2_Customisation.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Customized</h4>
                        <p class="text-center helvetica">as per your unique hair, goals, concerns and lifestyle</p>
                    </div>
                    <div class="col-4">
                        <img data-src="{{'landing_page_hair_2_Science.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Scientific</h4>
                        <p class="text-center helvetica">formulations backed by rigorous research and advanced technology</p>
                    </div>
                    <div class="col-4">
                        <img data-src="{{'landing_page_hair_2_Clean.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Clean Beauty</h4>
                        <p class="text-center helvetica">ingredients which are ethically sourced and are free of toxins</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- How it work Section start Here -->
        <section class="work-section pt-md-5 pt-4 pb-md-5 pb-4">
            <div class="width-md-900">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <h3 class="heading-style7 text-center">
                                How It Works</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 work-section-or-2 align-self-center ">

                            <div class="set-padding">

                                <p class="helvetica-neue-medium f-20 f-01385e ">01.</p>

                                <p class="helvetica-neue-medium f-18 f-01385e uppercase">YOU TAKE THE HAIR QUIZ</p>
                                <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 lh-17">Start your hair quiz and tell us
                                    all about your hair type, hair goals, hair concerns, lifestyle, your preferred fragrance and colour,
                                    and the name you want on your customized haircare regime and checkout. </p>
                                <p class="helvetica text-center text-md-left mb-4 mb-md-1 f-14 f-4B4B4B mt-4"><a href="/pages/quiz-3"
                                                                                                                 class="button-style2"> Customize Your HairCare</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 work-section-or-1">
                            <p class="mt-md-3 mt-1 mb-md-5 mb-4 pb-md-0 pb-2 pt-4">
                                <img data-src="{{'landing_page_hair_2_01.jpg' | asset_url}}" class="lazyload work-image w-sm-100" />
                            </p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <p class="mt-md-3 mt-1 mb-md-5 mb-4 pb-md-0 pb-2 pt-4">
                                <img data-src="{{'landing_page_hair_2_02.jpg' | asset_url}}" class="lazyload work-image w-sm-100" />
                            </p>
                        </div>


                        <div class="col-md-6 align-self-center ">
                            <div class="set-padding">
                                <p class="helvetica-neue-medium f-20 f-01385e ">02.</p>

                                <p class="helvetica-neue-medium f-18 f-01385e uppercase">We Customize Your <br /> Haircare Regime </p>
                                <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 lh-17">Based on your quiz answers, our
                                    scientists freshly-formulate your custom haircare based on your unique hair goals and type. All our
                                    ingredients are clean and 100% vegan. </p>
                                <p class="helvetica text-center text-md-left f-14 f-4B4B4B mt-4 mb-4 mb-md-1"><a href="/pages/quiz-3"
                                                                                                                 class="button-style2"> Customize Your HairCare</a></p>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 work-section-or-2 align-self-center">
                            <div class="set-padding">
                                <p class="helvetica-neue-medium f-20 f-01385e  ">03.</p>

                                <p class="helvetica-neue-medium f-18 f-01385e uppercase">We Door Deliver Your <br /> Custom Care </p>
                                <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 lh-17">Within 3-7 days of placing your
                                    order, your customized haircare regime reaches your doorstep. What’s more? We also offer a free
                                    one-time reformulation if you are unhappy with the product.
                                </p>
                                <p class="helvetica text-center text-md-left f-14 f-4B4B4B mb-4 mb-md-1 mt-4"><a href="/pages/quiz-3"
                                                                                                                 class="button-style2"> Customize Your HairCare</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 work-section-or-1">
                            <p class="mt-md-3 mt-1 mb-md-5 mb-4 pb-md-0 pb-2 pt-4">
                                <img data-src="{{'landing_page_hair_2_03.jpg' | asset_url}}" class="lazyload work-image w-sm-100" />
                            </p>
                        </div>
                    </div>




                </div>
            </div>
        </section>
        <!-- How it work Section Ends Here -->

        <section class="clean-ing-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-7">
                        <div class="row justify-content-end">
                            <div class="col-md-11">
                                <h3 class="color-blue playfair f-32 text-bg-line text-bg-line-clr-blue"><span>We Believe In Clean
											Ingredients</span></h4>
                                    <p class="sub-clean helvetica-neue-light">Clean and effective ingredients, backed by science, not
                                        just trends. <br class="hide-mob" /> Handpicked to work for your unique hair concerns</p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Vitamins.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Vitamins</h5>
                                <p class="text-center helvetica-neue-light">Nourishes Hair</p>
                            </div>

                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Saw-Palmetto.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Saw Palmetto</h5>
                                <p class="text-center helvetica-neue-light">Controls Hair Fall</p>
                            </div>
                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Salicylic-Acid.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Salicylic Acid</h5>
                                <p class="text-center helvetica-neue-light">Controls Dandruff</p>
                            </div>
                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Witch-Hazel.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Witch Hazel</h5>
                                <p class="text-center helvetica-neue-light">Controls Oil</p>
                            </div>
                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Almond-Oil.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Almond Oil</h5>
                                <p class="text-center helvetica-neue-light">Moisturizes Hair and Scalp</p>
                            </div>
                            <div class="col-md-4 col-6">
                                <img data-src="{{'landing_page_hair_2_Zemea.png' | asset_url}}" class="lazyload" />
                                <h5 class="text-center helvetica-neue-medium">Zemea</h5>
                                <p class="text-center helvetica-neue-light">Moisturizes Dry Scalp</p>
                            </div>

                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-11 pb-md-0">

                                <p class="sub-clean helvetica"><a href="/pages/hair-ingredients">View Complete Ingredient Journal</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-tags my-0 py-md-0">
            <div class="sec-tags-lines"></div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12 sec-tags-cover ">

                        <!-- <div class='slider'>
                    <div class="edge"></div>
                <ul class="slideContainer" id="money_start">
                        <li class="slideItem" >
                          Free of harmful chemicals
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem">
                          Freshly made
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem">
                          Clean beauty
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem">
                          Freshly made
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem">
                          Clean beauty
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem" >
                          Free of harmful chemicals
                        </li>
                        <li class="slideItem">
                          -
                        </li>
                        <li class="slideItem">
                          Freshly made
                        </li>
                </ul>
                </div> -->
                        <marquee width="100%" direction="left">
                            <div class="tags-scroll content d-flex ">
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made </p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>100% vegan</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>High grade ingredients</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Free of harmful chemicals</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Freshly made</p>
                                </div>
                                <div>
                                    <p>-</p>
                                </div>
                                <div>
                                    <p>Clean beauty</p>
                                </div>
                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="sec-tags-lines"></div>
        </section>



        <section class="work-section steps-th-sec pt-md-4 pt-4 pb-md-4 pb-4">

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h3 class="heading-style7 mb-md-5 mb-2 text-center">
                            A Complete <br class="hide-desk" /> 3-Step Hair Care Regime <br />
                            Customized For You</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 work-section-or-2">

                        <div class="set-padding">

                            <p class="playfair font-weight-bold f-32 f-sm-30 mb-md-3 mb-3 f-01385e ">Step 1.</p>

                            <p class="helvetica f-20 f-01385e uppercase mb-2 mb-md-2 f-sm-18 pt-1 pt-md-0">NOURISH + DETOXIFY</p>
                            <p class="f-16 helvetica color-txt-1 font-400 f-sm-14">Rejuvenating Pre Shampoo Mask | 125gms</p>
                            <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 pt-3 pt-md-0">Water-soluble silicones-based
                                deep conditioning formula doesn’t leave behind product residue on the scalp. It also consists of
                                nourishing plant oils which seals the natural moisture of hair and scalp. Made
                                with a blend of advanced actives for damage repair</p>
                            <p class="helvetica text-center text-md-left mb-4 mb-md-1 f-14 f-4B4B4B mt-md-2 mt-4"><a href="/pages/quiz-3"
                                                                                                                     class="button-style2"> Customize Your HairCare</a></p>

                        </div>
                    </div>

                    <div class="col-md-6 work-section-or-1">
                        <p class="mt-md-2 mt-1 mb-md-4 mb-4 pb-md-0 pt-md-0 pb-3 pt-4">
                            <img data-src="{{'landing_page_hair_2_Step-1.jpg' | asset_url}}" class="lazyload img-fluid w-sm-100" />
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <p class="mt-md-2 mt-1 mb-md-4 mb-4 pb-md-0 pt-md-0 pb-3 pt-4">
                            <img data-src="{{'landing_page_hair_2_Step-2.jpg' | asset_url}}" class="lazyload img-fluid w-sm-100" />
                        </p>
                    </div>


                    <div class="col-md-6">
                        <div class="set-padding">
                            <p class="playfair font-weight-bold f-32 f-sm-30 mb-md-3 mb-3 f-01385e  ">Step 2.</p>

                            <p class="helvetica f-20 f-01385e uppercase mb-2 mb-md-2 f-sm-18 pt-1 pt-md-0">clean + balance</p>
                            <p class="f-16 helvetica f-sm-14 color-txt-1 font-400">Deep Cleansing Shampoo | 150 ml</p>
                            <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 pt-3 pt-md-0">100% sulphate-free, deep
                                cleansing formula gently cleanses dirt, sebum, and pollution build-up from hair and scalp. It does not
                                dry out the hair and scalp and helps in maintaining the optimal pH level of the scalp</p>
                            <p class="helvetica text-center text-md-left mb-4 mb-md-1 f-14 f-4B4B4B mt-4 mt-md-2"><a href="/pages/quiz-3"
                                                                                                                     class="button-style2"> Customize Your HairCare</a></p>


                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 work-section-or-2 ">
                        <div class="set-padding">
                            <p class="playfair font-weight-bold f-32 f-sm-30 mb-md-3 mb-3 f-01385e ">Step 3.</p>

                            <p class="helvetica f-20 f-01385e uppercase mb-2 mb-md-2 f-sm-18 pt-1 pt-md-0">Repair + Strengthen</p>
                            <p class="f-16 f-sm-14 helvetica color-txt-1 font-400">Intense Repair Conditioner | 150 ml</p>
                            <p class="helvetica-neue-light f-14 f-4B4B4B pb-md-4 f-sm-12 pt-3 pt-md-0">Best for complete damage
                                repair and conditioning. Your customized conditioner strengthens your hair and scalp from within and
                                does not leave behind any product residue. Locks in the natural moisture and maximizes shine
                            </p>
                            <p class="helvetica text-center text-md-left mb-4 mb-md-1 f-14 f-4B4B4B mt-4 mt-md-2"><a href="/pages/quiz-3"
                                                                                                                     class="button-style2"> Customize Your HairCare</a></p>

                        </div>
                    </div>

                    <div class="col-md-6 work-section-or-1">
                        <p class="mt-md-2 mt-1 mb-md-4 mb-4 pb-md-0 pt-md-0 pb-3 pt-4">
                            <img data-src="{{'landing_page_hair_2_Step-3.jpg' | asset_url}}" class="lazyload img-fluid w-sm-100" />
                        </p>
                    </div>
                </div>




            </div>

        </section>

        <section class="cmts-sec sec-gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center helvetica f-18">Bare Anatomy (Un)covered</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="cmts-sec-slider ">
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>““Bare Anatomy is revolutionizing hair care
                                        with
                                        custom, made-to-order formulas...”</i></h2>
                                <img data-src="{{'landing_page_hair_2_cmts-logo-1.png' | asset_url}}" class="lazyload" />
                            </div>
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>“Natural, vegan and cruelty-free products which are freshly prepared on consumers’ demand”</i></h2>
                                <a href="https://www.entrepreneur.com/article/346260" target="_blank">
                                    <img data-src="//cdn.shopify.com/s/files/1/0039/6073/3763/files/Entrepreneur.png?v=1604062148" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>“Bespoke beauty products - customised ingredients, colour and even fragrance”</i></h2>
                                <a href="https://www.femina.in/beauty/make-up/on-demand-four-brands-on-bespoke-beauty-solutions-171347.html" target="_blank">
                                    <img data-src="//cdn.shopify.com/s/files/1/0039/6073/3763/files/Femina.png?v=1604062253" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>“Personalized as per the customer's unique needs and manufactured only after receiving the order”</i></h2>
                                <a href="https://www.livemint.com/companies/start-ups/bare-anatomy-raises-500-000-from-sauce-vc-11571235874208.html" target="_blank">
                                    <img data-src="//cdn.shopify.com/s/files/1/0039/6073/3763/files/Mint.png?v=1604062217" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>“Their custom shampoo can take on combination issues which may be too niche for targeted products to take on”</i></h2>
                                <a href="https://www.gqindia.com/look-good/content/10-best-shampoos-to-help-you-deal-with-dandruff" target="_blank">
                                    <img data-src="//cdn.shopify.com/s/files/1/0039/6073/3763/files/GQ.png?v=1604062312" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <h2 class="playfair f-4B4B4B f-32 f-sm-14 text-center"><i>“Freshly blended botanical formula tweaked to work specifically for you”</i></h2>
                                <img data-src="//cdn.shopify.com/s/files/1/0039/6073/3763/files/Grazia.png?v=1604062284" class="lazyload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="promise-sec pb-md-5 our-standards">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center playfair font-weight-bold"><span>Our Standards</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Freshly-Made.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Freshly Made</h4>
                        <p class="text-center helvetica">Individually and freshly formulated once you place your order</p>
                    </div>
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Formulated-for-Different-Hair-Types.svg' | asset_url}}"
                             class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Formulated for Different Hair Types</h4>
                        <p class="text-center helvetica">Unique formulations suited to different hair and scalp types</p>
                    </div>
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Long-Lasting-Results.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Long Lasting Results</h4>
                        <p class="text-center helvetica">Advance actives which work deep into your scalp and repair damage</p>
                    </div>
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Toxin-Free.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">100% Toxin Free</h4>
                        <p class="text-center helvetica">Our unique formulation is
                            free of harmful chemicals like
                            sulphates and parabens </p>
                    </div>
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Vegan-and-PETA-Certified.svg' | asset_url}}" class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Vegan and PETA Certified</h4>
                        <p class="text-center helvetica">No animal derived ingredients, no animal testing</p>
                    </div>
                    <div class="col-md-4 col-6">
                        <img data-src="{{'landing_page_hair_2_Effective-High-Grade-Ingredients.svg' | asset_url}}"
                             class="lazyload" />
                        <h4 class="text-center helvetica-neue-medium">Effective High-Grade Ingredients</h4>
                        <p class="text-center helvetica">Made using potent, botanical ingredients backed by advanced science</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Bottom Section start Here -->
        <section class="bottom-section pt-4 pt-md-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="color-blue text-center playfair f-32 text-bg-line text-bg-line-clr-pink d-none d-md-block">
                            <span>Fun Facts about your customized Haircare</span></h3>
                        <h3 class="color-blue text-center playfair f-32 text-bg-line text-bg-line-clr-pink d-block d-md-none">
                            <span>Fun Facts about your</span> <br /> <span>customized Haircare</span></h3>
                    </div>

                </div>

                <div class="row bottom-section-row-1 justify-content-between">
                    <div class="col-6 col-md-4 pl-md-5">
                        <h2 class="color-blue f-18 helvetica-neue-medium bottom-section-c11">IFRA Certified Fragrances </h2>
                        <p class="f-14 helvetica-neue-light">Our fragrances are IFRA compliant, meaning, they are safe to use and
                            thoroughly tested

                        </p>
                    </div>
                    <div class="col-6 pt-md-4 pt-2 col-md-4">
                        <h2 class="color-blue f-18 helvetica-neue-medium text-right text-md-left bottom-section-c22">Less Lather,
                            Deep Cleansing
                        </h2>
                        <p class="f-14 helvetica-neue-light text-right text-md-left">Our customized shampoo is free of harmful
                            sulphates, hence it lathers less! Add more water than the product to create a lather

                        </p>
                    </div>
                </div>
                <div class="row bottom-section-row-2 justify-content-between">
                    <div class="col-6 pl-md-5 col-md-4">
                        <h2 class="color-blue f-18 helvetica-neue-medium bottom-section-c33 ">
                            Mask On, For 20 Minutes
                        </h2>
                        <p class="f-14 helvetica-neue-light ">Our highly absorbent pre-shampoo mask just needs
                            20 minutes on your scalp to work its magic!</p>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="bottom-section-c4">
                            <h2 class="color-blue f-18 helvetica-neue-medium text-right text-md-left">Clean Beauty Ingredients
                            </h2>
                            <p class="f-14 helvetica-neue-light text-right text-md-left">All our unique formulations are clean and
                                EWG safe</p>
                        </div>
                    </div>
                </div>

                <div class="row pt-md-4 pt-4">
                    <div class="col-md-12">

                        <p class="helvetica text-center mb-4 mb-md-1 f-14 f-4B4B4B mt-md-2 mt-4"><a href="/pages/quiz-3"
                                                                                                    class="button-style2">START YOUR HAIR ANALYSIS</a></p>
                    </div>

                </div>
            </div>
        </section>
        <!-- Bottom Section Ends Here -->

    </div>
</main>
<!--Content Ends Here -->
</body>
<script>
    $(document).ready(function () {
        $('.items').slick({
            dots: false,
            infinite: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    arrows: false,
                    slidesToScroll: 1
                }
            },
                {
                    breakpoint: 480,
                    settings: "unslick"
                }
            ]
        });
    });




    $(document).ready(function () {
        $('.hair-slider').slick({
            dots: false,
            infinite: true,
            arrows: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: false,
                    arrows: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3.3,
                    infinite: false,
                    arrows: false,
                    slidesToScroll: 1
                }
            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3.3,
                        infinite: false,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });



    $(document).ready(function () {
        $('.hair-slider-2').slick({
            dots: false,
            infinite: true,
            arrows: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 2000,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 3,
                    infinite: false,
                    arrows: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3.3,
                    infinite: false,
                    arrows: false,
                    slidesToScroll: 1
                }
            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3.3,
                        infinite: false,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });



    $(document).ready(function () {
        $('.cmts-sec-slider').slick({
            dots: false,
            infinite: true,
            arrows: true,
            speed: 800,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: false,
                    arrows: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    infinite: false,
                    arrows: true,
                    slidesToScroll: 1
                }
            },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        infinite: false,
                        arrows: true,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });


    // $(document).ready(function() {
    // 	$('.tags-scroll').slick({
    // 	dots: false,
    // 	infinite: true,
    // 	arrows: false,
    // 	variableWidth: true,
    // 	speed: 4000,
    // 	autoplay: true,
    // 	autoplaySpeed: 0,
    // 	pauseOnHover: false,
    //   cssEase: 'linear',
    // 	slidesToShow: 1,
    // 	slidesToScroll: 1,
    // 	responsive: [{



    // 	breakpoint: 1024,
    // 		settings: {
    // 			pauseOnHover: false,
    // 			cssEase: 'linear',
    // 		slidesToShow: 1,
    // 		slidesToScroll: 1,
    // 		infinite: false,
    // 		arrows: false,
    // 		dots: false
    // 		}
    // 	},            {
    // 	breakpoint: 600,
    // 	settings: {
    // 	slidesToShow: 3.5,
    // 	cssEase: 'linear',
    // 	infinite: false,
    // 	arrows: false,
    // 	slidesToScroll: 1
    // 	}            },
    // 	{
    // 	breakpoint: 480,
    // 	settings: {
    // 	slidesToShow: 3.5,
    // 	cssEase: 'linear',
    // 	infinite: false,
    // 	arrows: false,
    // 	slidesToScroll: 1
    // 	}
    // 	}
    // 	]
    // 	});
    // 	});





    $(document).ready(function () {

        function cycle(...blocks) {
            let i = 0;
            const show = () =>
                $("#" + blocks[i++ % blocks.length])
                    .fadeIn(400)
                    .delay(blocks[i++ % blocks.length])
                    .fadeOut(400, show);
            show();
        }
        cycle("block1", 2000, "block2", 2000, "block3", 2000, "block4", 2000, "block5", 2000);


    });


    $(document).ready(function () {

        // polyfill
        window.requestAnimationFrame = (function () {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                function (callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        var speed = 5000;
        (function currencySlide() {
            var currencyPairWidth = $('.slideItem:first-child').outerWidth();
            $(".slideContainer").animate({ marginLeft: -currencyPairWidth }, speed, 'linear', function () {
                $(this).css({ marginLeft: 0 }).find("li:last").after($(this).find("li:first"));
            });
            requestAnimationFrame(currencySlide);
        })();


    });



    $(document).ready(function () {

        $('#maindiv').width($('#div1').width());

    });
</script>